@tailwind base;
@tailwind components;
@tailwind utilities;









@layer base {
    body::-webkit-scrollbar {
        width: 8px;
    }
    body::-webkit-scrollbar-track {
        @apply bg-blue-500
    }
    body::-webkit-scrollbar-thumb {
        @apply bg-blue-600;
    }  
    body{
        @apply  bg-gradient-to-r from-cyan-500 to-blue-500;
    }
    .--bg-color {
        @apply bg-gradient-to-r from-cyan-500 to-blue-500;
    }
    .--crd {
        @apply bg-white shadow-md rounded-xl ;
    }
    .--border {
        @apply border-[1px] border-neutral-300 border-solid;
    }
    .--input{
        @apply bg-neutral-50 hover:bg-neutral-100  rounded-md text-[1em] text-neutral-700 border-[1px] border-solid border-neutral-300  transition-colors focus:outline-neutral-600 focus:bg-neutral-50 outline-1  p-2 px-4 placeholder:text-neutral-400
    }

 .--blur-bg-color {
        background-image: radial-gradient(rgb(49, 115, 221), rgb(59 130 246), rgb(147 197 253), rgb(191 219 254), white);
        filter: blur(80px);
        filter: saturate(20px);
        rotate: 20deg;
    }

     .--blur-bg-color-2 {
        background-image: radial-gradient(rgb(147 197 253), rgb(59 130 246), rgb(49, 115, 221), rgb(191 219 254), white);
        filter: blur(80px);
        filter: saturate(20px);
        rotate: 100deg;
    } 

    .--but {
        @apply py-1 px-6 bg-blue-500 transition  disabled:bg-blue-300 text-white font-medium rounded-full  hover:transition-colors hover:bg-blue-700
    }

    .--but-out {
        @apply py-1 px-6 bg-blue-300  text-blue-600 font-medium rounded-full transition-colors hover:transition-colors hover:text-blue-500
    } 
}